table {
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(255, 239, 219);

}

th,
td {
    padding: 15px;
    border: 1px solid black;
}

body {
    background-color: rgb(234, 201, 157);
}

* {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1c1612;

}

header {
    width: 100%;
    margin: 0 auto;
    /* this centers it */
    padding: 10px;
    border-radius: 10px;
    /* font-size: large; */
    color: #422d1f;
    background-color: rgb(240, 218, 189);
    display: flex;
    /* make header a flex container */
    align-items: center;
    /* vertically center img + h1 */
    justify-content: space-between;
    /* horizontally center everything */
    gap: 0.5rem;
}

header .headerLogo {
    border-radius: 50%;
    flex-shrink: 0;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #422d1f;
}

h1 img {
    border-radius: 50%;
}

header .rightSide {
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

/* body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('nathanDumlaoUnsplash.jpg');
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
} */

a {
    color: #5c3e28;
}

a:hover {
    color: rgb(32, 22, 6);
}

nav {
    /* background-color: rgb(183, 168, 143); */
    padding: 8px;
    margin-right: 20px;
}

nav p {
    background-color: transparent;
}

nav a {
    color: #7d5e49;
    padding: 5px;
}


header .rightSide p {
    text-align: left;
    padding: 5px;
    margin: 0;
}

.flexLeft {
    width: 60%;
    margin: 2rem auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 2vw;
    color: #422d1f;
    background-color: rgb(248, 233, 214);
    opacity: 80%;
    display: flex;
    /* make header a flex container */
    flex-direction: row;
    align-items: center;
    /* horizontally center everything */
    gap: 1.5rem;
}

.flexLeft .images {
    margin-left: auto;
}

.flexLeft .flexRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    width: 30%;
    height: 30%;
    flex-shrink: 0;
}

.orderButton {
    background-color: white;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    display: inline-block;
}

.flexRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;
}

#Left {
    text-align: center;

}

a:hover {
    background-color: rgb(199, 185, 166);
}

/* Once the viewport hits 600px, cap it at 2rem */
@media (min-width: 800px) {
    .flexLeft {
        font-size: 20px;
    }
}

/* images are from unsplashed, free for use., nathan dumlao. */